apiVersion : apps/v1
kind: Deployment
metadata:
  name: "go-hello-world"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "go-hello-world"
  template:
    metadata:
      labels:
        app: "go-hello-world"
    spec:
      containers:
        - name: "go-hello-world"
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          image: "BUILT_IMAGE"
          ports:
          - containerPort: 8080